h1.tit {text-align: center;
    color: goldenrod;
    background-color: black;
    display: inline-block;
    padding: 10px;
 }
h1.tit:hover {color: darkgray;
}

a.linkd:hover {background-color: gray;} 

a.linkd {background-color: #f44336;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;}

    a:hover {border: solid 1px;}

button:hover {background-color: gray;}

button {background-color: blue;
padding: 5px;}


table, th, td {
    border:1px solid black;
  }
  td {text-align: center;
background-color: gray;}
th{background-color: goldenrod;}

div :hover {background-color: rgb(167, 153, 77);
}